.to-post {
    display: block;
    background-color: #333333;
    color: #FFFFFF !important;
    padding: 10px 20px;
    text-decoration: none !important;
    text-align: center;
    width: 100%;
    
    &:hover {
        color: #23BDE7 !important;
    }
}

#top-wrap {
    display: block;
    text-align: center;
    
    #to-top {
        color: #555555;
        padding: 13px;
        display: inline-block;
        text-align: center;

        &:hover {
            color: #23BDE7;
            cursor: pointer;
        }
    }
}