$col1: 550px;
$col2: 815px;
$col3: 1080px;
$col4: 1345px;

@mixin five {
    @media (min-width: #{$col4}) {
        @content;
    }
}

@mixin four {
    @media (min-width: #{$col3}) and (max-width: #{$col4 - 1px}) {
        @content;
    }
}

@mixin three {
    @media (min-width: #{$col2}) and (max-width: #{$col3 - 1px}) {
        @content;
    }
}

@mixin two {
    @media (min-width: #{$col1}) and (max-width: #{$col2 - 1px}) {
        @content;
    }
}

@mixin last {
    @media (max-width: #{$col1 - 1px}) {
        @content;
    }
}

.author-posts {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: block;
    
    .switch {
        float: left;
    }

    @include five {
        max-width: 1310px !important;
    }
    
    @include four {
        max-width: 1045px !important;
    }
    
    @include three {
        max-width: 780px !important;
    }
    
    @include two {
        max-width: 530px !important;
    }
    
    @include last {
        max-width: 265px !important;
    }
}