@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 $height 0; /* bottom = footer height */
}

.banner {
    height: 50px;
    background: #333333;
    margin-bottom: 20px;
    
    .container {
        height: 100%;
        
        a {
            height: 100%;
            
            img {
                height: 100%;
            }
        }
    }
}

.content-info {
    width: 100%;
    
    * {
        max-width: none;
    }
    
    .copy {
        display: inline-block;
    }
    
    .fa-arrow-up {
        float: right;
    }
}