footer.content-info {
    width: 100%;
    padding: 10px 0;
    background-color: #333333;
    color: #F9F9F9;

    .container {
        position: relative;
        display: table;
    }
    
    .copy {
        display: table-cell;
        vertical-align: middle;
    }
}