footer.content-info {
    width: 100%;
    padding: 50px 0 60px 0;
    background-color: #333333;
    color: #F9F9F9;

    .container {
        position: relative;
        display: table;
    }
    
    .copy {
        display: table-cell;
        vertical-align: middle;
        
        a {
            color: #23BDE7;
        }
    }
}