header.banner {
    height: 65px;
    color: white !important;
    position: relative;
    padding: 15px;

    .brand-link {
        font-size: 20px;
        display: inline-block;
        color: #222;
        margin: -10px 0 0 0;
        
        &:hover {
            color: #23BDE7;
        }
    }
    
    .bars {
        margin: 0;
        display: inline-block;
        cursor: pointer;
        float: right;
        color: #333;
        text-decoration: none;
            
        &:hover {
            color: #23BDE7;
        }
        
        &:before {
            content: '\f0c9';
            font: 25px fontawesome;
        }
    }
    
    .brand-desc {
        color: #D9D9D9;
    }
}