body.search {
    header.banner {
        background: #ddd;
    }
    
    .search-header {
        h1 {
            margin: 0;
            text-align: center;
            padding: 30px;
            background: #ddd;
        }
    }
    
    .results {
        padding: 15px 15px 15px 20px;
        margin: 0;
        
        article {
            text-align: center;
            
            > div {
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                            0 3px 1px -2px rgba(0,0,0,.2),
                            0 1px 5px 0 rgba(0,0,0,.12);
                margin: 15px 0;
                border-radius: 5px;
                
                a {
                    &:hover {
                        cursor: pointer;
                    }
                }
                
                .entry-title {
                    padding: 15px;
                }
                
                .entry-meta {
                    margin: 0;
                    
                    .col-md-6 {
                        i {
                            margin: 0 5px 0 0;
                        }
                    }
                    
                    .col-md-12 {
                        text-align: left;
                        padding: 15px;
                        
                        i {
                            margin: 0 5px 0 0;
                        }
                    }
                }
                
                .read {
                    padding: 15px;
                    display: block;
                    color: white;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}

body.archive {
    header.banner {
        background: #ddd;
    }
    
    .archive-header {
        h1 {
            margin: 0;
            text-align: center;
            padding: 30px;
            background: #ddd;
        }
    }
    
    .results {
        padding: 15px 15px 15px 20px;
        margin: 0;
        
        article {
            text-align: center;
            
            > div {
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                            0 3px 1px -2px rgba(0,0,0,.2),
                            0 1px 5px 0 rgba(0,0,0,.12);
                margin: 15px 0;
                border-radius: 5px;
                
                a {
                    &:hover {
                        cursor: pointer;
                    }
                }
                
                .entry-title {
                    padding: 15px;
                }
                
                .entry-meta {
                    margin: 0;
                    
                    .col-md-6 {
                        i {
                            margin: 0 5px 0 0;
                        }
                    }
                    
                    .col-md-12 {
                        text-align: left;
                        padding: 15px;
                        
                        i {
                            margin: 0 5px 0 0;
                        }
                    }
                }
                
                .read {
                    padding: 15px;
                    display: block;
                    color: white;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}