body.search {
    header.banner {
        background: #ddd;
    }
    
    .search-header {
        h1 {
            margin: 0;
            text-align: center;
            padding: 30px;
            background: #ddd;
        }
    }
    
    .results {
        padding: 15px;
        margin: 0;
    }
}