/* Single Post Styling */
body.single-post {
    .page-header {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% !important;
        
        h1 {
            color: #FFF !important;
            text-align: center;
            font-size: 65px;
            padding: 30px 0;
            margin: 0;
            display: block;
        }
    }

    #disqus_thread {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
        
    header.banner {
        a {
            color: #FFF !important;
                
            &:hover {
                color: #333 !important;
                cursor: pointer;
            }
        }
    }
        
    .entry-meta {
        width: 100%;
        max-width: 570px;
        padding: 30px;
        text-align: center;
        margin: 0 auto;
    }
        
    .entry-meta .author:hover {
        color: #FFF;
        background: #333;
    }
        
    .entry-content {
        padding: 30px 15px 0 15px;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    
    .post {
        footer {
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            padding: 30px 15px 15px 15px;
            
            .navigation {
                margin: 15px 0;
                position: relative;
                
                .prev {
                    display: inline-block;
                    
                    i {
                        margin: 0 5px 0 0;    
                    }
                }
                
                .next {                    
                    position: absolute;
                    right: 0;
                    display: inline-block;
                    
                    i {
                        margin: 0 0 0 5px;    
                    }
                }
            }
        }
    }
            
    footer.content-info {
        .copy {
            color: #222;
            
            a {
                color: #FFF;
            }
        }
    }
}

/* Other Page Styling */
body.search,
body.archive,
body.author,
body.error404,
body.page {
    .page-header {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% !important;
        margin: 0 0 15px 0;
    }
        
    header.banner a {
        color: #FFF !important;
    }
    
    header.banner a:hover {
            color: #333 !important;
            cursor: pointer;
    }
    
    .header-title {
        color: #FFF !important;
        text-align: center;
        padding: 15px 0 30px 0;
        margin: 0;
        display: block;
    }
    
    div.juno-wrap {
        main {
            > .search-area {
                background: #333333;
                max-width: 600px;
                width: 100%;
                margin: 0 auto;
                padding: 15px;
                border-radius: 5px;
                
                .search-title {
                    margin: 0;
                    text-align: center;
                    color: white;
                }

                .search-icon {
                    display: inline-block;
                    padding: 0 0 0 5px;

                    &:hover {
                        cursor: pointer;
                    }
                }
                
                .off-canvas-search {
                    transition: all ease 1s;

                    .search-field {
                        width: 100%;
                        border: none;
                        border-radius: 5px;
                        padding: 5px 10px;
                        margin: 10px 0;
                    }

                    .search-button {
                        display: block;
                        text-align: center;
                        width: 100%;

                        input {
                            color: #333;
                            background: #FFF;
                            width: 100%;
                            padding: 5px 10px;
                            transition: all ease 0.3s;
                            border: none;
                            border-radius: 5px;

                            &:hover {
                                color: #23BDE7;
                                transition: all ease 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .error404-message {
        max-width: 600px;
        width: 100%;
        padding: 10px;
        background: white;
        border: 3px solid #333;
        border-radius: 5px;
        margin: 0 auto 15px auto;
    }
}

body.special-template {
    .special-wrap {
        margin: 0;
        padding: 15px;
    }
}

body.error404 {
    .error404-message {
        max-width: 600px;
        width: 100%;
        padding: 10px;
        background: white;
        border: 3px solid #333;
        border-radius: 5px;
        margin: 0 auto 15px auto;
    }
}